# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.tlog
*.exe
*.dll
*.pdb
*.opensdf
*.suo
*.sdf
*.obj
*.log
*.idb
*.ipch
*.user
*.pch
*.manifest
*.ilk
*.lastbuildstate
*.swp
